/* This file is reserved for overriding and extending the template styles. */

.fade-text{
    display: inline-block;
	position: relative;
}

.fade-text p{
	display: inline-block;
	opacity: 0;
}

.fade-text-active p:nth-child(1){
	-webkit-animation: fadeinout 4s ease forwards;
    animation: fadeinout 4s ease forwards;
}

@-webkit-keyframes fadeinout {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
}
  
@keyframes fadeinout {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
}